
header{
    position: fixed;
    right: 0;
    left: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    height: 32px;
    background: #FFF;
    box-shadow: 0px 1px 0px 0px #E5E5E5;
}

/* form */
.container form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: none;
    width: 625px;
    height: 32px;
    background: var(--neutral-20, rgba(1, 0, 57, 0.04));
}

.container form input {
    width: 90%;
    border: none;
    background-color: transparent;
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
}
.container form svg {
    fill: #627B87;
}

/* menu-right */

.menu-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-right span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFE6CC;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.menu-right p{
    padding: 0 3px 0 20px;
    color: #1F384C;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.5px;
}

.chevron {
    padding-right: 32px;
}

/* logo */

.logo {
    display: flex;
    max-width: 240px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 38px;
}

.logo img {
    width: 73px;
    height: 36px;
}

/* main */

main {
    background: #F6F8FA;
}

    /* sidebar */

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    width: 240px;
    height: 1486px;
    padding-top: 100px;

    background: var(--neutral-20, rgba(1, 0, 57, 0.04));
}

.nav {
    color: #767D87;
    line-height: 24px;
    letter-spacing: 0.048px;
}

.nav h2 {
    font-size: 11px;
}

nav .active {
    color: #504178;
    font-weight: 500;
    border-radius: 10px;
    background: rgba(80, 65, 120, 0.20);
    padding: 0px 16px;
    gap: 12px;
}

    /* section  */
section {
    width: calc(100% - 240px);
}

