
header{
    position: fixed;
    right: 0;
    left: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    height: 32px;
    background: #FFF;
    box-shadow: 0px 1px 0px 0px #E5E5E5;
}

/* form */
.container form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: none;
    width: 625px;
    height: 32px;
    background: var(--neutral-20, rgba(1, 0, 57, 0.04));
}

.container form input {
    width: 90%;
    border: none;
    background-color: transparent;
    padding-left: 15px;
    font-family: 'Poppins', sans-serif;
}
.container form svg {
    fill: #627B87;
}

/* menu-right */

.menu-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-right span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFE6CC;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.menu-right p{
    padding: 0 3px 0 20px;
    color: #1F384C;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.5px;
}

.chevron {
    padding-right: 32px;
}

/* logo */

.logo {
    display: flex;
    max-width: 240px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 38px;
}

.logo img {
    width: 73px;
    height: 36px;
}

    /* sidebar */

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 40px;
    width: 240px;
    height: 1486px;
    padding-top: 100px;

    background: var(--neutral-20, rgba(1, 0, 57, 0.04));
}

.nav {
    color: #767D87;
    line-height: 24px;
    letter-spacing: 0.048px;
}

.nav nav h2 {
    font-size: 0.68rem;
    padding: 26px 0;
    text-transform: uppercase;
    color: #082431;
    letter-spacing: 1px;
    opacity: 0.5;
}

.nav nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 24px;
}

.nav nav ul li{
    display: flex;
    gap: 12px;
}

.dropdown {
    padding-left: 12px;
    color: #0100399E;
}

.nav  .active {
    color: #504178;
    font-weight: 500;
    border-radius: 10px;
    background: rgba(80, 65, 120, 0.20);
    padding: 16px;

}

/* main */

main {
    background: #F6F8FA;
    display: flex;
}

.section {
    width: calc(100% - 240px);
    position: relative;
    top: 65px;
    display: flex; 
    flex-direction: column;
    padding: 33px 33px 31px 40px;
}

.title {
    /* padding: 33px 0 31px 40px; */
    font-size: 1.5rem;
    color: #1F384C;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.section-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 33px;
}

.preview {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    padding: 18px;
    border-radius: 5px;
    background-color: #FFF;
}

.bg-icone,.bg-icone2,.bg-icone3,.bg-icone4{
    border-radius: 10px;
    width: 63px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-icone{
    background: linear-gradient(#504178, #FF7B8A);
}
.bg-icone2{
    background: linear-gradient(#42BA17, #9FF182);
}
.bg-icone3{
    background: linear-gradient(#5A6ACF, #FF7B8A);
}
.bg-icone4{
    background: linear-gradient(#D32136, #FF7B8A);
}

.preview-content div h3{
    color: #1F384C;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.072px;
}

.preview-content div {
    display: flex;
    align-items: center;
    
}

.preview-content div svg {
    padding: 0 5px;
}
.preview-content div svg,p {
    color: #149D52;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.5px;
}

/* graph */

.graph{
    border-radius: 10px;
    /* width: 1127px; */
    height: 520px;
    /* margin: 22px auto; */
    background-color: #FFF;
    margin-top: 15px;


    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 33px;
}