.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    position: fixed;
    width: 100%;
    height: 32px;
    background: #FFF;
    box-shadow: 0px 1px 0px 0px #E5E5E5;
}

.container input{
    border-radius: 5px;
    border: none;
    width: 625px;
    height: 32px;
    background: var(--neutral-20, rgba(1, 0, 57, 0.04));
}

.container div {
    display: flex;
    align-items: center;
}


.container .logo img {
    width: 73px;
    height: 36px;
}

.container div span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.container div p{
    padding: 0 3px 0 20px;
    color: #1F384C;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.5px;
}

.chevron {
    padding-right: 32px;
}

main {
    background: #F6F8FA;
}

aside {
    width: 240px;
    height: 1486px;
    background: var(--neutral-20, rgba(1, 0, 57, 0.04));}